<a href="https://colab.research.google.com/github/blakelobato/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module4-acid-and-database-scalability-tradeoffs/titanic_insert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import os
from dotenv import load_dotenv
import pandas as pd
import sqlite3
import psycopg2
from psycopg2.extras import execute_values

load_dotenv() # looks inside the .env file for some env vars

df = pd.read_csv('titanic.csv')

db = 'wchktouo'
user = 'wchktouo'
password = '	OPPNyyIHthFtqiJ_Kk_SM0str3XkbRLw'  
host = 'rajje.db.elephantsql.com'

conn = psycopg2.connect(dbname=db, user=user, password=password, host=host)

df.to_sql(name='titanic', con = conn, if_exist = 'replace')

# passes env var values to python var
#DB_HOST = os.getenv("DB_HOST", default="OOPS")
#DB_NAME = os.getenv("DB_NAME", default="OOPS")
#DB_USER = os.getenv("DB_USER", default="OOPS")
#DB_PASSWORD = os.getenv("DB_PASSWORD", default="OOPS")

DB_FILEPATH = os.path.join(os.path.dirname(__file__), "titanic.csv")

class titanic_insert():
    def __init__(self):
        self.sqlite_connection = sqlite3.connect(DB_FILEPATH)
        self.sqlite_cursor = self.sqlite_connection.cursor()
        self.pg_connection = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST)
        self.pg_cursor = self.pg_connection.cursor()

    def create_people_class_querry(self):
        create_query = """
        DROP TABLE IF EXISTS people_class; -- allows this to be run idempotently, avoids psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "characters_pkey" DETAIL:  Key (character_id)=(1) already exists.
        CREATE TABLE IF NOT EXISTS people_class (
            id SERIAL PRIMARY KEY,
            name VARCHAR(30),
            pclass INT,
            gender VARCHAR(30),
            lived BOOL,
            age INT,
            fare FLOAT
        );
        """
        print(create_query)
        self.pg_cursor.execute(create_query)
        self.pg_connection.commit()

    def insert_people(self, people):
        insertion_query = "INSERT INTO characters (id, name, pclass, gender, lived, age, fare) VALUES %s"
        list_of_tuples = people
        execute_values(self.pg_cursor, insertion_query, list_of_tuples)
        self.pg_connection.commit()

if __name__ == "__main__":

    service = titanic_insert()

    #
    # EXTRACT AND TRANSFORM
    #

    people = service.get_people()
    print(type(people), len(people))
    print(people[0])

    #
    # LOAD
    #

    service.create_people_table()

    service.insert_people(people)

ModuleNotFoundError: ignored

In [22]:
import json
import os
#!pip install python dotenv
#from dotenv import load_dotenv
import pandas as pd
import sqlite3
!pip install psycopg2
import psycopg2
from psycopg2.extras import execute_values

#load_dotenv() # looks inside the .env file for some env vars

df = pd.read_csv('titanic.csv')

db = 'mjiwupjp'
user = 'mjiwupjp'
password = '0S-gNnmqswbhqh-v5Lr8YZQd4CN6_N_E'  
host = 'rajje.db.elephantsql.com'

conn = psycopg2.connect(dbname=db, user=user, password=password, host=host)

### A "cursor", a structure to iterate over db records to perform queries
cur = conn.cursor()
### An example query
cur.execute('''CREATE TABLE IF NOT EXISTS people_class (id SERIAL PRIMARY KEY)''')



### Above have created a table^^^
#go in loop reading data from df and insert into the table 

#df.to_sql(name ='titanic_df', con = conn) #, if_exist = 'replace'

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [41]:
cur = conn.cursor()
cur.execute('''CREATE TABLE titanic(Surivied:bool, Pclass:int, Name:string, Age:int, siblings:int, parents:int, Fare:float)''')
for row in df.iterrows():
  insert_titanic = """INSERT INTO people_class (Survived, Pclass, Name, Sex, Age, siblings, parents, Fare) VALUES""" + str(row[1:]) + ";"
  print(insert_titanic)
  cur.execute(insert_titanic)
cur.close()

ProgrammingError: ignored

In [11]:
df = pd.read_csv('titanic.csv')
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [0]:
#!pip install psycopg2-binary
import psycopg2
dbname = 'uxdlljnv'
user = 'uxdlljnv'
password = 'PrNBttEvyflonZQbwTptgWqxwZkLWgc6'
host = 'rajje.db.elephantsql.com'
pg_conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
pg_curs = pg_conn.cursor()
# pg_curs.execute('SELECT * FROM test_table;')
# print(pg_curs.fetchall())
#!"c:\Program Files (x86)\GnuWin32\wget" https://github.com/nikibhatt/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3
#!mv 'rpg_db.sqlite3?raw=true' rpg_db.sqlite3
import sqlite3
sl_conn = sqlite3.connect('rpg_db.sqlite3')
sl_curs = sl_conn.cursor()
characters = sl_curs.execute('select * from charactercreator_character').fetchall()
sl_curs.close()
sl_conn.commit()
for character in characters:
  insert_character = """
    INSERT INTO charactercreator_character
    (name, level, exp, hp, strength, intelligence, dexterity, wisdom)
    VALUES """ + str(character[1:]) + ";"
  pg_curs.execute(insert_character)
pg_curs.close()
pg_conn.commit()
pg_curs = pg_conn.cursor()
pg_curs.execute('SELECT * FROM charactercreator_character;')
pg_characters = pg_curs.fetchall()
pg_curs.close()
pg_conn.commit()
for character, pg_character in zip(characters, pg_characters):
    assert character == pg_character